<div style="margin-bottom: 30px; text-align: center;">
  <h3 style="margin-bottom: 10px;">Filter by Category</h3>
  <ul style="list-style: none; padding: 0; display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;">
    <li style="display: inline;">
      <a href="/writeups/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">All</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/forensics/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Forensics</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/web/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Web</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/web3-blockchain/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Web3 / Blockchain</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/crypto/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Crypto</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/misc/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Misc</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/programmation/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Programmation</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/osint/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#OSINT</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/steganographie/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Stéganographie</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/reverse/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Reverse</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/pwn/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Pwn</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/hardware/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Hardware</a>
    </li>
    <li style="display: inline;">
      <a href="/writeups/categories/reseau/" style="text-decoration: none; color: #bbb; font-size: 14px; padding: 5px 15px; border: 1px solid #ccc; border-radius: 15px;">#Réseau</a>
    </li>
  </ul>
</div>
