{{ define "main" }}
  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 80vh; text-align: center;">
    <img src="/images/profil.jpg" alt="Photo de profil"
      style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover; box-shadow: 0 0 10px rgba(255,255,255,0.2);">
    <h1 style="margin-top: 20px; margin-bottom: 10px;">Reyko</h1>
    <p style="font-style: italic; font-size: 1.2rem; margin-top: 0;">Cybersecurity enjoyer</p>
    <p style="font-style: italic; font-size: 1.2rem; margin-top: 0;">Forensic GREP Master</p>

    <div style="margin-top: 20px; display: flex; gap: 20px; justify-content: center; align-items: center;">
      <a href="https://www.linkedin.com/in/thomas-raffard/" target="_blank" title="LinkedIn">
        <img src="/icons/linkedin.png" alt="LinkedIn"
             style="width: 40px; height: 40px; object-fit: contain;">
      </a>
      <a href="https://www.root-me.org/Reyko-506648" target="_blank" title="Root-Me">
        <img src="/icons/rootme.png" alt="Root-Me"
             style="width: 40px; height: 40px; object-fit: contain;">
      </a>
      <a href="https://app.hackthebox.com/users/472846" target="_blank" title="Hack The Box">
        <img src="/icons/hackthebox.png" alt="Hack The Box"
             style="width: 40px; height: 40px; object-fit: contain;">
      </a>
    </div>
  </div>
{{ end }}
